@font-face {
  font-family: "Timeburner";
  src: url(timeburnernormal.ttf);
}

/* General body styles */
.body {
  background-color: rgba(63, 62, 60, 1); /* Full opacity for a darker background */
  margin: 0 auto;
  padding-bottom: 3em;
}

/* Navbar styles */
.navbar {
  background-color: rgba(27, 27, 27, 0.7);
  box-shadow: 0 8px 16px rgba(3, 3, 3, 0.488);
}

.navbar-brand {
  font-weight: bold;
  font-family: "Timeburner", sans-serif;
}

/* Footer styles */
.footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  color: white;
  background-color: rgba(27, 27, 27, 0.7);
  border-radius: 50px;
  padding: 1em;
  font-family: 'Timeburner', sans-serif;
}

.footer a {
  color: white;
  text-decoration: none;
}

/* Section and content styles */
.section1 {
  font-family: "Timeburner", sans-serif;
  color: white;
  margin-top: 5em;
}

h1 {
  font-family: "Timeburner", sans-serif;
}

/* About section content styling */
.content-box {
  font-family: "Timeburner", sans-serif;
  color: white;
  background-color: #4d4d4d;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 20px;
}

.text-content {
  background-color: #292929;
  border-radius: 10px;
  padding: 15px;
  flex: 1;
}

.rainbowlogobanner img {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

/* Image styles */
img {
  max-width: 100%;
  height: auto;
}

/* Profile card styling */
.content-box h3 {
  background-color: rgb(50, 48, 48);
  border-radius: 0 0 8px 8px;
  padding-left: 8px;
}

/* Profile card layout */

.vertical-line {
  width: 2px;
  height: 100px;
  background-color: #ffffff;
  margin: 0 auto;
  transform: rotate(180deg);
}
